* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-image: url("/src/assets/background/bg.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}